:root {
  --bright-yellow: #f6d64f;
  --dijon-yellow: #f7d750;
  --medium-yellow: #e6c849;
  --light-orange: #f3a61e;
  --medium-orange: #f5822b;
  --medium-dark-orange: #d88b32;
  --dark-orange: #958032;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: yellow;
  text-align: center;
  min-height: 80vh;
}

@media (min-width: 405px) {
  h1 {
    font-size: xxx-large;
  }
}

.menorah-container {
  position: relative;
  max-width: 675px;
  width: 100%;
  margin: auto;
}

.menorah {
  max-width: 700px;
  height: auto;
  margin: auto;
  padding-top: 40%;
  z-index: 1;
}

.shamash-column {
  fill: linear-gradient(90deg, blue 50%, yellow 50%);
}

#left-arms path {
  fill: var(--medium-orange);
}

#right-arms path {
  fill: var(--medium-yellow);
}

.candle {
  position: absolute;
  width: 6%;
  height: auto;
}

#candle-0 {
  top: 8.2%;
  left: 47%;
}

#candle-1 {
  top: 11.8%;
  left: 82%;
}
#candle-2 {
  top: 11.8%;
  left: 74%;
}
#candle-3 {
  top: 11.8%;
  left: 66%;
}
#candle-4 {
  top: 11.8%;
  left: 58%;
}
#candle-5 {
  top: 11.8%;
  left: 36.2%;
}
#candle-6 {
  top: 11.8%;
  left: 28.2%;
}
#candle-7 {
  top: 11.8%;
  left: 20.2%;
}
#candle-8 {
  top: 11.8%;
  left: 12%;
}
